---
- name: Copy dotfiles
  copy:
    src: "{{ role_path }}/templates/{{ item }}"
    dest: "/home/kelog/.{{ item }}"
    mode: '0644'
  with_items:
  - dircolors
  - gitconfig
  - tmux.conf

- name: Create folder for shell helpers
  file:
    dest: "/home/kelog/bin"
    state: directory
    owner: kelog
    mode: '0644'

- name: Copy extra shell scripts for information bar for tmux
  copy:
    src: "{{ role_path }}/templates/tmux-bar.sh"
    dest: /home/kelog/bin/tmux-bar.sh
    owner: kelog
    mode: '0755'
