---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Configure Nginx
  template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf

- name: Install Certbot and Nginx plugin
  apt:
    name: python3-certbot-nginx
    state: present

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
