---
- hosts: all
  become: yes
  roles:
  - role: user
    tags: [user]
  - role: docker
    tags: [docker]
  - role: nginx
    tags: [nginx]
  - role: monitoring
    tags: [monitoring]
  - role: neovim
    tags: [neovim]
  - role: dotfiles
    tags: [dotfiles]
